
//
// VARIABLES
//

// Colors
$blue: #259f9f;
$light-blue: #96D9D9;
$yellow: #f8b940;

// Grays
$black: #0a0a0b;
$darkerGray: #222;
$darkGray: #AEAEAE;
$gray: #DDD;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
